@model Identyfikacja.Models.Dane
@{
    ViewData["Title"] = "Form3";
}
@using (Html.BeginForm("Wynik", "Home", FormMethod.Post))
{
    <form asp-action="Form3" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Imie">Twoje imię</label>
            <input asp-for="Imie" />
            <span asp-validation-for="Imie" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Nazwisko">Twoje nazwisko</label>
            <input asp-for="Nazwisko" />
            <span asp-validation-for="Nazwisko" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Email">Twój Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>



        <div>
            <button type="submit" class="btn btn-primary">Zarejestruj</button>
            <button type="reset" class="btn btn-secondary">Wyczyść</button>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}