@model Identyfikacja.Models.Book
@{
    ViewData["Title"] = "Ksiazka";
}
@using (Html.BeginForm("Wynik", "Home", FormMethod.Post))
{

    <form asp-action="Ksiazka" method="post">

        <div asp-validation-summary="All"></div>
        <div>
        <label asp-for="Nazwa">Nazwa książki</label>
        <input asp-for="Nazwa" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
        </div>

        <div>
        <label asp-for="Autor">Autor książki</label>
        <input asp-for="Autor" />
        <span asp-validation-for="Autor" class="text-danger"></span>
        </div>

        <div>
        <label asp-for="NumerBiblioteczny">Numer biblioteczny książki</label>
        <input asp-for="NumerBiblioteczny" />
        <span asp-validation-for="NumerBiblioteczny" class="text-danger"></span>
        </div>

        <div>
        <label asp-for="ISBN">ISBN książki</label>
        <input asp-for="ISBN" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Kategoria">Kategoria książki</label><select name="Kategoria" id="Kategoria">
                <option value=""></option>
                <option value="Tak">Tak</option>
                <option value="Nie">Nie</option>
            </select>

            <span asp-validation-for="Kategoria" class="text-danger"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
            <button type="reset" class="btn btn-secondary">Wyczyść</button>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}